body {
    font-family: Arial, sans-serif;
}
nav {
    background-color: #333;
    overflow: hidden;
    transition: all 500ms ease;
}
nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background-color: #ddd;
    color: black;
    
}
nav a.active {
    background-color: #4CAF50;
    color: white;
}
nav .search-container {
    float: right;
}
nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
nav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
nav .search-container button:hover {
    background: #ccc;
}
