.card {
    border: 2px solid #ddd;
    border-radius: 8px; 
    width: 300px;
    margin: auto; 
    font-family: Arial, sans-serif;
}

.card-img {
    background-color: #878E95; 
    height: 175px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.card-img p{
    margin: auto; 
    font-size: 18px; 
    color: #ffffff;
}

.card-title{
    padding: 10px 0 15px 15px; 
    text-align: left;
}

.card-title h5{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0px;
}

.card-title p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px; 
    color: #555;
}

.card-footer{
    padding: 15px 0 15px 15px;
    text-align: left;
}

.card-footer a{
    margin-right: 15px;
    color: #316CF4;
    text-decoration: underline;
}

.content {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h5{
    margin-bottom: 10px;
}

.content p{
    margin-bottom: 15px;
    font-size: 14px; 
    color: #555;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ddd;
}

li {
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid #ddd;
}