blockquote {
	background-color: rgba(0, 0, 0, .12);
	padding: 8px;
}

#readmore {
	color: darkred;
	text-decoration: none;
	transition: all 200ms ease;
}

#readmore:visited {
    color: purple;
}

#readmore:hover{
	color: darkorange;
}

blockquote::before, blockquote::after {
	content: "\"";
}

#firstletter::first-letter {
	float: left;
	color: darkred;
	border: 3px ridge darkgoldenrod;
	padding: 16px;
	background-color: gold;
	margin: 8px;
}